body {background-color:;}

.home{ background-color:; }
.blue{background-color:blue;}
.green{background-color:green; }
.red{background-color:red;}
.orange{background-color:orange; }

.lbar { float:left ; width:; background-color:; }
.rbar { float:right ; width:; background-color:; }
.middle { margin-left:; margin-right:130px; background-color:; }

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}